@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;
}

body {
    font-family: Arial, sans-serif;
    background-color: #181818; 
    color: #fff; 
}

header {
    background-color: #a83b96;
    color: white;
    padding: 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden; 
}

header h1 {
    margin: 0;
    flex: 1;
    text-align: center;
}

#menu-toggle {
    display: none;
    background-color: #a83b96;
    color: white;
    border: none;
    font-size: 20px; 
    cursor: pointer;
    padding: 5px 10px; 
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 1001;
}

.container {
    display: flex;
    margin-top: 60px; 
}

.sidebar {
    width: 250px;
    background-color: #242222; 
    height: 100vh;
    position: fixed;
    top: 5px;
    left: 0;
    overflow: auto;
    transition: transform 0.3s ease-in-out;
}

.sidebar ul {
    list-style-type: none;
    padding: 20px;
    padding-top: 60px; 
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 15px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    border-radius: 8px; 
    text-align: center; 
    line-height: 1.5; 
}

.sidebar ul li a:hover {
    background-color: #a83b96; 
    color: #fff; 
}

.sidebar ul li a:active {
    background-color: #f54291; 
    color: #fff; 
}

.content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content h2 {
    margin-bottom: 20px;
    margin-top: 40px; /* Adiciona margem superior */
}

.content p {
    font-size: 18px;
    margin-bottom: 60px;
}

.content hr.highlight-line {
    margin-top: 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #353333;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    #menu-toggle {
        display: block;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        font-size: 20px; 
        padding: 5px 10px;
    }

    .sidebar {
        width: 100%;
        height: calc(100% - 5px); 
        position: fixed;
        top: 5px;
        left: 0;
        transform: translateX(-100%);
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .container {
        flex-direction: column;
    }

    .content {
        margin-left: 0;
        padding-top: 60px;
    }

    .content h2 {
        margin-top: -40px;
    }
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.image-container {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    max-height: 850px; 
    height: auto;
    width: auto;
    border-radius: 8px; 
}

.image-container p {
    margin-top: 5px;
    font-size: 16px;
    color: #fff;
}

.image-container.janta {
    width: 35%;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.section .image-container {
    flex: 1;
    margin-right: 20px;
    border: none;
    padding: 0;
    background: none;
    box-shadow: none;
    max-width: 45%;
}

.section .text-container {
    flex: 1;
    margin-left: 20px;
}

.section-1 .image-container {
    order: 1;
}

.section-1 .text-container {
    order: 2;
}

.section-2 .image-container {
    order: 2;
}

.section-2 .text-container {
    order: 1;
}

.section .text-container p {
    font-size: 18px;
    text-align: left;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .section {
        flex-direction: column;
    }

    .section .image-container,
    .section .text-container {
        margin: 0;
        padding: 0;
    }

    .section .image-container {
        margin-bottom: 20px;
    }

    .section .text-container p {
        text-align: center;
    }
}

.section .image-container {
    flex: 1.5; 
    padding-right: 20px;
}

.section .image-container {
    max-width: 100%;
    max-height: 850px; 
    height: auto;
    width: auto;
    border-radius: 8px; 
}
